body {
    background-color: white;
    display: flex;
    background-image: url(https://miro.medium.com/v2/resize:fit:5120/1*GsImz-edoeuqCMfKxDus0w.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.search-bar {
    padding: 10px;
    margin: 10px;
    border-color: rgb(19, 66, 120);
    border-radius: 20px;
    width: 350px;
    height: 25px;
}

.searchbar {
    height: 25px;
    padding: 1px;
    width: 25px;
    justify-content: center;
    border-radius: 100px;
}

button:hover {
    cursor: pointer;
}

.main {
    display: grid;
    padding: 10px;
    justify-content: center;
    height: 520px;
    border: solid;
    background-color: rgba(106, 180, 249, 0.532);
    width: 370px;

    border-radius: 20px;
    border-color: rgba(90, 172, 249, 0);

}

.city {
    font-family: serif;
    font-size: 45px;
    width: 150px;
    margin-top: 0px ;
    margin-bottom: 0px;
    padding: 0;
    height: 100px;
    justify-self: center;
    color: rgb(54, 62, 180);
    text-shadow: 1px 1px 2px rgb(245, 241, 241);
    ;
}

.main-text {
    display: grid;
    justify-self: center;
}

.temp {
    font-family: serif;
    font-size: 30px;
    display: grid;
    justify-self: center;
    color: rgb(245, 241, 241);
    text-shadow: 1px 1px 2px rgb(54, 62, 180);
    ;
}

.w-img {
    height: 200px;
    padding: 60px;
    width: 200px;
}