.todopic {
  width: 28px;
}
body {
  background: rgb(107, 216, 249);
  display: flex;
  justify-content: center;
}
.heading{
  display: flex;
  justify-content: center
  
}
button:hover{
  cursor: pointer;
}
.box{
  border:black 2px ;
  
display: block;
width: 89%;
justify-content: center;
height: 20px;
border-radius:20px ;
padding: 10px;
margin: 10px;
}
.inputbox{
  margin-left: 60px;
  width: 450px;
}
.IN{
  border-radius: 20px;
  width: 250px;
}
button{
  border-radius:20px ;
  margin-left: 20px;
}
div.deltebtn{
 justify-content: center;
  color: rgb(90, 90, 205);

}
div.container{
  display: block;
  justify-content: center;
  height: 550px;
  width: 500px;
  background-color: aliceblue;
  border-radius:20px ;
}